/* Product Details Main Container */
.pd-container {
  display: flex;
  gap: 50px;
  padding: 40px 60px;
  background: #f1f4f8;
  min-height: 90vh;
}

/* ---------------- LEFT SECTION ---------------- */
.pd-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* BIG IMAGE */
.pd-main-img {
  width: 440px;
  height: 440px;
  border-radius: 14px;
  overflow: hidden;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.pd-main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SMALL IMAGES IN ONE LINE */
.pd-small-container {
  display: flex;
  gap: 15px;
}

.pd-small-img {
  width: 95px;
  height: 95px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .2s;
}

.pd-small-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pd-small-img:hover {
  transform: scale(1.05);
}

.active-thumb {
  border: 2px solid black;
  transform: scale(1.05);
}


/* ---------------- RIGHT SECTION ---------------- */
.pd-right {
  flex: 1;
  padding-right: 40px;
}

.pd-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.pd-price {
  font-size: 20px;
  margin: 12px 0;
}

.pd-desc {
  width: 80%;
  margin: 20px 0;
  line-height: 1.5rem;
}

/* Colors */
.pd-section-title {
  margin-top: 20px;
  font-weight: bold;
}

.pd-color-options {
  display: flex;
  gap: 12px;
  margin: 8px 0 20px;
}

.pd-color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}

.pd-col-1 {
  background: #fae3d7;
}

.pd-col-2 {
  background: #000;
}

/* Size Guide */
.pd-size-guide {
  color: #333;
  text-decoration: underline;
  margin-bottom: 25px;
  display: inline-block;
}

/* Quantity Area */
.pd-quantity-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
}

.pd-qty-buttons {
  display: flex;
  align-items: center;
  border: 1px solid #222;
  padding: 5px 10px;
  gap: 15px;
}

.pd-qty-buttons button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

/* Add to Cart Button */
.pd-cart-btn {
  width: 250px;
  padding: 12px;
  background: #000;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
}

.pd-footer-text {
  color: gray;
}

.pd-footer-text a {
  color: black;
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 900px) {
  .pd-container {
    flex-direction: column;
    padding: 20px;
  }
  
  .pd-main-img {
    width: 100%;
    height: auto;
  }

  .pd-small-container {
    flex-wrap: wrap;
  }

  .pd-right {
    padding-right: 0;
  }
}
