.cart-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  background: #eef2f5;
  min-height: 100vh;
  gap: 40px;
}

/* LEFT SIDE */
.cart-left {
  flex: 1.2;
}

.cart-left h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.small-gray {
  color: gray;
  font-size: 14px;
}

.cart-items-box {
  background: #fff;
  border-radius: 8px;
  padding: 15px 20px;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

.item-info {
  flex: 1;
  margin-left: 15px;
}

.item-name {
  font-size: 17px;
  margin-bottom: 5px;
}

.item-price {
  font-weight: bold;
  margin-top: 5px;
}

.remove-item {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 14px;
}

.remove-item:hover {
  text-decoration: underline;
}

/* ORDER INFO */
.info-section {
  margin-top: 40px;
  background: none;
}

.info-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.info-desc {
  font-size: 14px;
  color: gray;
  margin: 12px 0 20px;
}

/* RIGHT SIDE */
.cart-right {
  flex: 0.8;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  height: fit-content;
}

.cart-right h2 {
  margin-bottom: 15px;
}

.coupon-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 15px;
}

.summary-line {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.total-line {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.checkout-btn {
  width: 100%;
  padding: 14px;
  background: #000;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.checkout-btn:hover {
  opacity: 0.9;
}
